@import url("https://cdn.syncfusion.com/ej2/material.css");
.header {
  -webkit-box-shadow: 0px 0px 3px 0px rgb(223, 222, 222) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 3px 0px rgb(223, 222, 222) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 3px 0px rgb(223, 222, 222) !important;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
.header_search {
  display: flex;
}
.btn_advance {
  margin-left: 8px;
  padding-left: 12px;
  height: 5ch;
  margin-top: 8px;
  padding-right: 8px;
  outline: none;
  color: black;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #2d68e4;
}
.postdata {
  width: 50%;
  border-radius: 6px;
  background-color: #ffffff;
}
.postdata__header {
  display: flex;
  align-items: center;
  padding-left: 12px;
  justify-content: space-between;
}
.Addfilter {
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 6px;
  background-color: white;
  padding: 8px;
  border: 2px solid #2d68e4;
  padding-left: 20px;
  padding-right: 20px;
}
.FilterSearch {
  padding: 12px;
  display: flex;
}
.FilterSearch h3 {
  padding: 12px;
  margin-left: 12px;
  color: #ccc;
}
.showResultData {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showResultData_end {
  padding: 8px;
}
.showResultData_end button {
  margin: 12px;
  padding: 8px 10px 8px 10px;
}
.showResultData_cancel {
  border: none;
  outline: none;
  color: #ccc;
  background-color: transparent;
}
.showResultData_result {
  color: white;
  background-color: #2d68e4;
  border: none;
  border-radius: 6px;
}
